.articleProducts{
    background-color: rgb(236, 160, 211);
    color: black;
    width: 25%;
    height: 50%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    
}

img {
    width: 130px;
    height: 170px;
}

.buttonDetalle{
    background-color: rgba(29, 31, 153, 0.952);
    margin-bottom: 15px;
    border: 0px;

}