.divAgregarCarrito{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
   

}

.buttonCarrito{
    font-size: larger;
    color:rgb(7, 7, 7);
}
