.divAgregarCarrito{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
   

}

.buttonCount{
    font-size: larger;
    color:rgb(7, 7, 7);
    background-color: rgb(230, 107, 154);
}

.buttonAgregar{
    background-color: rgb(230, 107, 154);
    color:rgb(7, 7, 7);
    margin-bottom: 15px;
   
}
